SUPABASE_URL=https://wgzaxacxrbismwwqbmji.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnemF4YWN4cmJpc213d3FibWppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3MTMyMDYsImV4cCI6MjEwMjI4OTIwNn0.eVOXgiGNjdGp6LEuwLvVCFdtB3FqJpWkLKFG42TUU2M
